div {
}

#container {
}

.btn.rangeside {
  width:25%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}

.btn.rangecenter {
  width:50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}

.hours {
  font-size:64px; 
  font-weight:bold; 
  color:grey; 
  line-height:normal; 
  text-align:center;  
}

select {
  color:#333;
}

.radio.inline, .checkbox.inline {
  margin-left: 7px;
  margin-bottom: 6px;
}
