.list {
  margin-left: 0;
  margin-top: 12px;
  padding: 0;
}

.eventDate {
  font-variant-numeric: tabular-nums lining-nums;
  padding-right: 0;
}

.eventName {
  word-break: unset;
  flex-grow: 1000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding-right: 0;
}

.sortByLabel {
  margin-right: 8px;
}

.downloadLink {
  margin-left: 8px;
}
