.component {
  text-align: left;
}

.inputDate::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
