<p>
  This web app lets you see how many hours you spend on a calendar. It uses the Google Calendar API so you need to authorize the app with the following link:
</p>
<p>
  <a href="#" id="authBtn" class="btn btn-large btn-primary">Connect to Google Calendar</a>
</p>
<p>
  <strong>Note:</strong> none of the data is saved elsewhere but in your browser. After you close the browser window / tab all fetched data is delete (sessionStorage is used). Thats why you need to reautherize with Google the next time you visit the page. Also the app has read-only access your calendar data.
</p>
