<select id="rangeList" style="width:100%">
  <option value="day"<% if(range === "day") { %>selected<% } %>>Day</option>
  <option value="week"<% if(range === "week") { %>selected<% } %>>Week</option>
  <option value="month"<% if(range === "month") { %>selected<% } %>>Month</option>
  <option value="year"<% if(range === "year") { %>selected<% } %>>Year</option>
  <option value="total"<% if(range === "total") { %>selected<% } %>>Total</option>
  <option value="custom"<% if(range === "custom") { %>selected<% } %>>Custom</option>
</select>