.list {
  padding: 0;
  margin-top: 12px;
  margin-left: 0;
}

.listItem {
  display: flex;
  gap: 6px;
  padding: 0 2px;
  margin: 0;
}

.listItemDark {
  background-color: #eee;
}

.listItemLight {
  background-color: #fff;
}

.eventDate {
  flex: 1 0;
  padding-right: 0;
  font-variant-numeric: tabular-nums lining-nums;
}

.eventName {
  overflow: hidden;
  width: 0;
  flex: 1 0;
  flex-grow: 1000;
  padding-right: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: unset;
}

.copyButton {
  all: unset;
  color: grey;
  width: 15px;
}

.copyButton:active svg {
  box-shadow: 0 0 5px #51cbee;
}

.copyIcon {
  width: 16px;
  height: 16px;
}

.eventHours {
  flex: 1 0;
}

.sortByLabel {
  margin-right: 8px;
}

.downloadLink {
  margin-left: 8px;
}
