.appWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app {
  width: 380px;
  margin: 8px;
}

.app > * {
  width: 100%;
  margin-bottom: 8px;
}

.app p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.app h3 {
  padding-top: 20px;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}
